@charset "utf-8";

$primary: #D29F1B;
$link: $primary;
$title-color: #fafafa;

@import "../node_modules/bulma/bulma.sass";

* {
  box-sizing: border-box;
}

.button {
  font-weight: bold;
  font-size: 20px;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  flex-direction: column;
}
