@charset "utf-8";

$primary: #D29F1B;
$link: $primary;
$title-color: #fafafa;
$default-spacing: 20px;
$mobile-spacing: 5px;

@import "../node_modules/bulma/bulma.sass";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.button {
  font-weight: bold;
  font-size: 16px;
}

@media (min-width: $tablet) {
  .button {
    font-size: 20px;
  }
}

.centered-content {
  background-color: #2f2e2c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: column;
}
